/* mobile first */
@media only screen and (min-width: 1px) {
      html {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        scroll-behavior: smooth;
      }
      body {
        margin-top: 0px;
        padding: 10px; 
        -webkit-background-size: cover; 
        height: 100vh; 
        width: 90%; 
        background-attachment: fixed;
        background-color: #666666cf;
        background-size: cover;
      }
      h1 {
        text-align: left;
        color: #010101cf;
        display: flex; 
        flex-wrap: wrap; 
      }
      h2 {
        text-align: left;
        color: #010101cf; 
        display: flex; 
        flex-wrap: wrap; 
      }
      p {
        text-align: left;
        color: #010101cf; 
        display: flex; 
        flex-wrap: wrap; 
      }
      article {
        padding: 10px;
        margin: 10px;
        background: #f5f5f5cf;
        border-style: outset; 
        max-width: 100%;
      }
      .control {
        text-indent: 2px; 
        flex: 1 auto; 
        margin: auto; 
      }
      /*flexbox*/
      section {
        display: flex;
        color: rgba(255, 255, 255, 0.181); 
      }
      article {
        flex: 1 200px;
      }
      button {
        flex: 1 auto;
        margin: auto;
        font-size: 18px;
        line-height: 1.5;
        border-style: dashed; 
      }
       /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 80%; /* Full width */
        height: 80%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: transparent; /* Fallback color */
        background-color: transparent; /* Black w/ opacity */
      }
    /* Modal Content/Box */
      .modal-content {
        background-color: transparent;
        color: black; 
        margin: 20px; /* 15% from the top and centered */
        padding: 20px;
        border: none;
        width: 100%; /* Could be more or less, depending on screen size */
        display: flex;
        flex-flow: row wrap;
        align-items: center; 
        justify-content: space-around;
      }
    /* The Close Button */
        .close {
        color: whitesmoke;
        float: left;
        font-size: 28px;
        font-weight: bold;
      }
.close:hover,
.close:focus {
  color: orangered; 
  text-decoration: none;
  cursor: pointer;
}
}

/* @media only screen and (min-width: 700px)  */
/* add css for larger screens here */